<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card"></div>
                <div class="card-header">ADD Video</div>
                    
                    <div class="card-body">
                        <button #addBtn class="btn btn-primary">ADD</button>
                    </div>
                </div>
            
            <div class="col-md-4">
                <div class="card-header">
                    <div class="card-body">List</div>
                        <ul id='elid'>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-header">
                        <div class="card-body">List</div>
                            <ul id='elid2'>
                                
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
  