<div class="my-3">
    <h2>Take,Take last & take Untill</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex 01 | Take</strong>
            <ul id="elcontainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex 02 | Take Last 3</strong>
            <ul id="elcontainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex 03 | Take Untill (Condition)</strong>
            <ul id="elcontainer3"></ul>
        </div>
    </div>
</div>
