<div class="my-3">
    <h2>toArray</h2>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <strong>toArray() with pipe() & interval() & take</strong>
        <hr>
        <div class="col-md-6">
            <p class="row bg-light py-2 px-3 border rounded">
                <strong>Data OF</strong>toArray
            </p>
        </div>
        <br>
        <ul id="elcontainer"></ul>
    </div>

    <div class="col-md-4">
        <strong>toArray() with pipe() & from() & take()</strong>
        <hr>
        <div class="col-md-6">
            <p class="row bg-light py-2 px-3 border rounded">
                <strong>Data OF</strong>toArray
            </p>
        </div>
        <br>
        <ul id="elcontainer2"></ul>
    </div>

    <div class="col-md-4">
        <strong>toArray() with pipe() & of()</strong>
        <hr>
        <div class="col-md-6">
            <p class="row bg-light py-2 px-3 border rounded">
                <strong>Data OF</strong>toArray
            </p>
        </div>
        <br>
        {{show}}
    </div>
</div>