<div class="container-fluid">
    <div class="container">
        <div class="row">
        <div class="div col-md-3">
            <a routerLink="from-event">From Event</a>
        </div>
        <div class="div col-md-3">
            <a routerLink="interval">Interval</a>
        </div>
        <div class="div col-md-3">
            <a routerLink="from-event">From Event</a>
        </div>
        <div class="div col-md-3">
            <a routerLink="from-event">From Event</a>
        </div>
        </div>
    </div>
</div>