<div class="my-3">
    <h2>Switch-Map (Flatning Operator)</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex 01 | mergeMap</strong>
            <hr>
            <p>meregMap Emits all stream at one time</p>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Agular','Nodejs','Reactjs']
            </p>
            <hr>
            <ul id="elContainer"></ul>
        </div>

        <div class="col-md-4">
            <strong>Ex 02 | concatMap</strong>
            <hr>
            <p>concatMap emits all value with specified delay time</p>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Agular','Nodejs','Reactjs']
            </p>
            <hr>
            <ul id="elContainer2"></ul>
        </div>

        <div class="col-md-4">
            <strong>Ex 03 | switchMap</strong>
            <hr>
            <p>switchMap emits all value but its take latest value only(it unsubscribe last emited value)</p>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Agular','Nodejs','Reactjs']
            </p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>
