<div class="my-3">
    <h2>Of and From</h2>
</div>
<strong>Ex - 01 Of</strong>
<div class="row">
    <div class="col-md-6">
        <p class="row bg-light py-2 px-3 border rounded">'Rahul','Atul','Mangalsing'</p>
    </div>
    <br>
    <ul id="elcontainer"></ul>

    <div class="col-md-6">
        <p class="row bg-light py-2 px-3 border rounded">
          <strong>Data OF</strong>  &#123;'Rahul','Atul','Mangalsing'&#125;
        </p>
    </div>
    <br>
  <ul>
    <li><strong> a:</strong>  {{Obsmsg.a}}</li>
    <li><strong> b:</strong>  {{Obsmsg.b}}</li>
    <li><strong> c:</strong>  {{Obsmsg.c}}</li>

  </ul>

</div>

<strong>Ex - 02 From</strong>
<hr>
<div class="row">
    <div class="col-md-4">
        <strong>Array</strong>
        <hr>
        <div class="col-md-6">
            <p class="row bg-light py-2 px-3 border rounded">
                <strong>Data OF</strong>From(['Rahul','Atul','Mangalsing']);
              </p>
              <!-- // by the help of from oprator we can make array to observable data -->

        </div>
        <br>
        <ul id="elcontainer3"></ul>
    </div>

    <div class="col-md-4">
        <strong>promice to Observale</strong>
        <hr>
        <div class="col-md-6">
            <p class="row bg-light py-2 px-3 border rounded">
                <strong>Data OF</strong>Promice To Observable
              </p>
        </div>
        <br>
        <ul id="elcontainer4"></ul>
    </div>

    <div class="col-md-4">
        <strong>String to Observale</strong>
        <hr>
        <div class="col-md-6">
            <p class="row bg-light py-2 px-3 border rounded">
                <strong>Data OF</strong>String To Observable
              </p>
        </div>
        <br>
        <ul id="elcontainer5"></ul>
    </div>
</div>