<div class="my-3">
    <h2>Debouncetime & distictUntillChanged</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <strong>Ex 01 <span class="text-primary">Debouncetime</span></strong>
            <hr>
            <div class="row">
                <label class="col-sm-2 col-form-label col-form-label-lg">Search...</label>
                <div class="col-sm-10">
                  <input type="text" #myinput class="form-control form-control-lg" #mysearch placeholder="Search...">
                </div>
              </div>
              <span *ngIf="reqData != null">Requested data : <strong class="text-success">{{reqData}}</strong></span>
        </div>

        <div class="col-md-6">
            <strong>Ex 02 <span class="text-warning">DistictUntillChanged</span></strong>
            <hr>
            <div class="row">
                <label class="col-sm-2 col-form-label col-form-label-lg">Search...</label>
                <div class="col-sm-10">
                  <input type="text" #myinput2 class="form-control form-control-lg"  placeholder="Search...">
                </div>
              </div>
              <span *ngIf="reqData2 != null">Requested data : <strong class="text-success">{{reqData2}}</strong></span>
        </div>
    </div>
</div>